Repository kazvizian/packlet-js: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yaml:

commit-msg:
  skip: true
  commands:
    commitlint:
      run: bun commitlint --edit .git/COMMIT_EDITMSG

pre-commit:
  skip: true
  parallel: true
  commands:
    biome:
      glob: "*.{ts,tsx,js,jsx,mjs,cjs,json}"
      run: bun run biome check --write {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true

pre-push:
  # Run a full project verification before allowing a push. This will fail the
  # push if any step exits non-zero.
  skip: true
  commands:
    total-check:
      run: bun run lint && bun run format:check && bun run build && bun test

fix: `opts.execJS` is no longer set by `--cjs`
  packages/build/src/cli.ts
Due: biome

ci: simplify release regex
  .github/workflows/release.yml
Due: prettier

docs: remove duplication
  packages/gpr/README.md
Due: prettier

test: avoid spawning real npm pack during CI
  packages/build/test/build.test.ts
  packages/cli/test/gpr-command.test.ts
  packages/gpr/test/pack-flow.test.ts
Due: biome

chore: ignore `.tsbuildinfo`
  .gitignore
Due: none

fix: add skip pack option for `@packlet/gpr`
  README.md
  packages/build/test/build.test.ts
  packages/gpr/src/awaken-gpr.ts
Due: biome, prettier

fix: decouple --cjs from --exec-js flags
  .gitignore
  packages/cli/src/index.ts
Due: biome

refactor: modernize build system and make it lean
  .github/workflows/release-artifacts.yml
  .github/workflows/release-manual.yml
  .github/workflows/release.yml
  .gitignore
  README.md
  packages/build/README.md
  packages/build/package.json
  packages/build/src/cli.ts
  packages/build/src/index.ts
  packages/build/test/build.test.ts
  packages/build/tsconfig.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/test/build-command.test.ts
  packages/cli/test/gpr-command.test.ts
  packages/cli/tsconfig.json
  packages/core/README.md
  packages/core/package.json
  packages/core/tsconfig.json
  packages/gpr/README.md
  packages/gpr/package.json
  packages/gpr/src/awaken-gpr.ts
  packages/gpr/test/pack-flow.test.ts
  packages/gpr/tsconfig.json
  packages/packlet/README.md
  packages/packlet/package.json
  packages/packlet/test/integration-cli.test.ts
  packages/packlet/tsconfig.json
  tsconfig.base.json
  turbo.json
Due: biome, prettier

feat: enhance awakenGpr with support for pkg metadata and dependency normalization
  packages/gpr/src/awaken-gpr.ts
Due: biome

fix: ensure packages are built before GPR staging and only publish if .gpr directory exists
  .github/workflows/release-manual.yml
  .github/workflows/release.yml
Due: prettier

chore: add changeset for modernize build system
  .changeset/big-hotels-smile.md
Due: prettier

fix: reorder ci:local script commands for improved execution flow
  lefthook.yaml
  package.json
Due: biome, prettier

improve gpr and ci
  .changeset/big-hotels-smile.md
  .github/workflows/release-manual.yml
  .github/workflows/release.yml
  lefthook.yaml
  package.json
  packages/gpr/src/awaken-gpr.ts
Due: biome, prettier

fix(ci): correct bash if/else syntax in GPR publish steps
  .github/workflows/release-manual.yml
  .github/workflows/release.yml
Due: prettier

ci: simplify test command in release workflows
  .github/workflows/release-manual.yml
  .github/workflows/release.yml
Due: prettier

fix: update build scripts to include --exec-js flag for improved execution
  packages/cli/package.json
  packages/gpr/package.json
  packages/packlet/package.json
Due: biome

fix(gpr): esm auto-exec for cli
  packages/cli/src/index.ts
  packages/gpr/src/index.ts
Due: biome

chore: create new changeset
  .changeset/busy-aliens-follow.md
Due: prettier

fix: use safer `import.met` checker
  packages/gpr/src/index.ts
Due: biome

fix: use safer `import.met` checker
  packages/cli/src/index.ts
Due: biome

feat(gpr): enhance name handling for GPR with scoped and unscoped support
  packages/gpr/src/awaken-gpr.ts
  packages/gpr/src/prepare-gpr.ts
  packages/gpr/test/prepare.test.ts
Due: biome

docs: clarify GPR name derivation and override options
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/gpr/README.md
  packages/packlet/README.md
Due: prettier

feat: add gprName property to packlet packages for better identification
  packages/build/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/gpr/package.json
  packages/packlet/package.json
Due: biome

ci: skip publishing if the version already exists in GitHub Packages
  .github/workflows/release-manual.yml
  .github/workflows/release.yml
Due: prettier

chore: add new changesets
  .changeset/deep-peas-exist.md
  .changeset/funny-shoes-beg.md
Due: prettier

ci: reduce process spawning overhead
  .github/workflows/release.yml
Due: prettier

docs: correct typo in README regarding internal dependency names in monorepo staging
  packages/gpr/README.md
Due: prettier

feat(gpr): add name validation utilities and integrate into awakenGpr and prepareGpr
  packages/gpr/src/awaken-gpr.ts
  packages/gpr/src/name-utils.ts
  packages/gpr/src/prepare-gpr.ts
Due: biome

chore: fix patch typo
  .changeset/deep-peas-exist.md
Due: prettier
